*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.headerRosa {
    background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}
.headerVerde{
   /* background: #1D976C;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   /* background: #F09819;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
   background: #fff;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #da44532d, #fff);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #da44532d, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   

    height: auto;
    padding: 48px;
    width: 100%;
}
header::before{
    content:"";
    display: block;
    margin-bottom:50px;
}
nav {
    position: fixed;
    top: 20px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    transition: ease-in-out .5s;
}
nav .enlaces a{
    color:#FFF;
    text-decoration: none;
    margin-left: 20px;
}nav .links
 a{
    color:#FFF;
    text-decoration: none;
    margin-left: 20px;
}
nav{

    background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 75px;
    transition:ease-in-out .5s;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    align-items: center;
}

.icono {
    padding-left:100px ;
    height: 60px;
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 1000000;
}
.icono:hover {
    background-image: url('img/LogoColor.png');
}
.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.textos {
    width: 50%;
    color: #FFF;
}
.textos h1 {
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #FFF;
    width: 150px;
    border-radius: 6px;
    text-align: center;
    padding: 10px 0;
    animation: moverArriba 1s ease-in;
    text-transform: uppercase;
    box-shadow: 0 6px rgba(51, 49, 49, 0.205);
}
.textos a:hover{
    box-shadow: 0 6px rgba(224, 219, 219, 0.205);
    background: #DA4453;
}
.textos-questions{
    margin: 0 0 0 30px;
}
.textos-questions a{
    box-shadow: 0 8px rgba(224, 219, 219, 0.205);
    background: #3CA55C;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;

}.textos-questions a:hover{
    box-shadow: 0 6px rgba(82, 81, 81, 0.281);
    background: #4bc971;
}
.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}
.container img {
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
}
.container .menuimg{

    animation: moverArriba 1s ease-in;
}

.wave-Rosa {
    
    height: 100px;
    width: 100%;
    background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wave-Azul {
    
    height: 100px;
    width: 100%;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.wave-Amarrillo{
    height: 100px;
    width: 100%;
    background: #da44532d; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
   /* background:#ED6B66 ;*/
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color .5s ease-in;
}
.hamburguer >i{
    font-size: 25px;
    line-height: 80px;
}

.uno {
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}
.titulo{
    font-size: 50px;
}
                                                       /* servicios*/
.servicios{
    background: #f2f2f2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e4e2e2, #f2f2f2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e4e2e2, #f2f2f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.articulo{
    background:#FFF ;
    width:29%; 
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: .5s;
}

.articulo:hover{
    box-shadow: 0 12px 10px rgba(51, 49, 49, 0.301);
}
.articulo>i{
    font-size: 30px;
    color: #FFF;
    background: #89216B;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: salmon;
}
.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}
.articulo>p{
    font-weight: 100;
    margin-top: 15px;
    padding-top: 20px;
}
.articulo>a{
    color: #AA076B;
    font-weight: 400;
    text-decoration: none;
}
.articulo>a:hover{
    color: #DA4453;
    transition:color .5s;
}

                                                       /*Questioins*/
.questions{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
                                                       /*Cartas*/
.results{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top:30px ;
    
}
.conten-results{
display: flex;
justify-content: space-evenly;
}
.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.numbers .numer{
    width: 45%;
    background: rgba(255, 255, 255,.2);
    color: #FFF;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}
.numbers .numer h4{
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}
.numbers .numer p{
    color: #f2f5fc;
    font-weight: 300;
}
.results-text{
    width: 37%;
}
.results-text h4{
    color: #FFF;
    font-size: 40px;
}
.results-text p{
    color: #FFF;
    font-weight: 300;
    margin: 20px 0;
    
}.results-text>a{
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #FFF;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

                                                       /* Redes*/
.services{
    display: flex;
    justify-content: space-between;

}

.services>img{
    width: 500px;
}
.box-skills{
margin: 30px 30px 0 0;
}
.box-skills h4{
    font-size: 20px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 8px;
    padding:10px 0 10px 15px;
    margin-bottom: 10px;
}
.box-skills>h4>i{
    color: #DA4453;
    font-size: 20px;
}
                                                      /* Card*/
.container .card{
    background: #fff;
    width: 330px;
    height: 430px;
    border-radius: 18px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition:  all .2s;
}
.container .card:hover{
    transform: translateY(-20px);
    box-shadow: 0 12px 16px rgba (0,0,0,0.2);
}

.container .card img {
    width: 330px;
    height: 150px;
}
.container .card h4{
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: salmon;
}
                                                       /*Footer*/

footer{
    background: #f2f2f2;
     padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
}
.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.partFooter>a{
    display: block;
    text-decoration: none;
    color:#DA4453;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}
.social-media >i{
    font-size: 20px;
    display: inline-block;
    color:#DA4453;
    border: 1px solid #DA4453;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor:pointer;
    margin-top: 20px;
    text-align: center;
    transition:all ease-in-out .3s;
    margin-right: 5px;
}
.social-media >i{
    color:#DA4453;
    border: 1px solid #DA4453;
}

.partFooter>img{
    padding-left:80px ;
    height: 60px;
    display: block;
/* animation: moverIzquierda 1s ease-in;*/
}
                                                       /*  bara de scroll  */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border: 2px solid #f2f2f2;
    box-shadow: inset 0 0 2.5px rgba(82, 81, 81, 0.281);
}
::-webkit-scrollbar-thumb{
    background: #89216b5b;
   border-radius: 5px;
}
                                                       /*  Animaciones  */
@keyframes Zoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverAbajo {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes poup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

                                                       /*  go-top-boton flotante  */

.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 50px;
    height: 50px;
    z-index: -1;
}
.boton-flotante{
    width: 0rem;
    height: 0rem;
    background:  #DA4453;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.boton-flotante i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #FFF;
    transition: .2s;
}
.show{
    z-index: 10;
}
.show .boton-flotante{
    animation: popup .3s ease-in-out;
    width: 50px;
    height: 50px;
    z-index: 11;
}
.show i {
    transform: translate(-50%, -50%) scale(1);
}


.bulgy-radios {
    width: 38rem;
    background: #fff;
    padding: 3rem 0 3rem 5rem;
    border-radius: 1rem;
    
    
    }

                                                        /*  RESPONSIVO  */
@media screen and (max-width: 1000px) {
    img {
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    img {
        height: 370px;
    }
   
    .textos h1 {
        font-size: 70px;
    }
    .textos h2 {
        font-size: 25px;
    }
    .titulo{
        font-size: 45px;
    }
    .articulo{
        width: 45%;
    }
    .questions{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }
    .conten-results{
        flex-direction: column;
    }
    .results-text{
        margin-bottom: 60px;
        width: 100%;
    }
    .numbers{
        width: 100%;
    }
    .services{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills{
        margin: 0 0 40px 0;
        width: 100%;
    }
    .services>img{
        width: 550px;
    }
    footer{
        justify-content:space-evenly;
    }
    .partFooter{
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 700px) {
    img {
        height: 250px;
    }
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .links{
        display: none;
    }
    .titulo{
        font-size: 35px;
    }.icono {
        height: 40px;
    }
    .hamburguer{
        display: table-column;
        color: #e4e2e2;
    }
    .container {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .articulo{
        width: 100%;
    }
    .numbers .numer{
        width: 100%;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 60px;
    } 
    .textos h2 {
        font-size: 25px;
    }
    .nav{
        padding: 0 10px;
    }
}




:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

/* #Primary
================================================== */


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}



.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: #da4454;
    z-index: -1;
    color: #da2c4d;
}



